@model Site.AdminUsersView
@{
    Layout = "_Layout.cshtml";
}
@if (Model.Id == null)
{
    <form role="form" method="get" class="form-inline">
        <a href="/Admin/Users/0" class="btn btn-primary">Add User</a>
        <label>@Html.CheckBoxFor(x => x.OnlyAdmin) Only Admin</label>
        <button type="submit" class="btn btn-default">Load</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>IsAdmin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.QueryUsers())
            {
                <tr>
                    <td><a href="/Admin/Users/@user.Id">Edit @user.Id</a></td>
                    <td>@user.Email</td>
                    <td>@user.IsAdmin</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <form role="form" method="post">
        <div class='form-group'>
            <label>Id:</label>
            <div class="form-control">@Model.User.Id</div>
        </div>
        <div class='form-group'>
            <label>Email:</label>
            @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control" })
        </div>
        <div class='form-group'>
            <label>Password:</label>
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        </div>
        <div class='form-group'>
            <label>Is Admin:</label>
            @Html.CheckBoxFor(x => x.User.IsAdmin)
        </div>
        <button type="submit" name="_submit" value="SaveUser" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" onclick="window.location='/Admin/Users'">Cancel</button>
        <button type="submit" name="_submit" value="DeleteUser" class="btn btn-danger">Delete</button>
    </form>
}
